.details h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.jfhdsjfjds {
    margin: 50px 0px;
}

.sdasd {
    font-size: 22px;
    font-weight: 700;
    margin-top: 20px;
}

.jadhasdjas {
    background-color: #f7f8fb;
    padding: 25px;
}

.table tbody th {
    vertical-align: bottom;
    border-bottom: 1px solid #49494900;
}

.table tfoot th {
    vertical-align: top;
    border-top: 0.1rem solid #a3a3a3
}

.jadhasdjas h4 {
    font-size: 25px;
    font-weight: 700;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    font-weight: 600;
}

.btn {
    width: 100%;
    margin-top: 50px;
}

.dsadasdsss {
    margin-top: 50px;
    margin-bottom: 500px;
}